
/* Loading Ubuntu font */
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

body {
     margin: 0;
}

/* Whole Navigation Bar thingy */
#navBar {
     width: 100%;
     height: 120px;
     background-color: #60112D;
}

/* Div Housing the logoPic */
#logoDiv {
     padding-top: 7px;
     padding-left: 20px;
     padding-right: 20px;
     display: inline-block;
}

#logoPic {
     height: 100px;
     width: auto;
}

/* Div housing the productName */
#productNameDiv {
     display: inline-block;
     height: 120px;
     position: absolute;
}

#productName {
     display: inline-block;
     color: white;
     text-align: center;

     /*Centering Vertically*/
     position: relative;
     top: 50%;
     transform: translateY(-50%);

     /* Stylizing the font */
     font-family: 'Ubuntu', sans-serif;
     font-size: 45px;
}

/* Outlined border thing */
#hamburgerWrapper {
     width: 60px;
     height: 60px;
     border: 6px solid white;
     border-radius: 20px;
     display: inline-block;

     /* Aligns the div to the right */
     position: absolute;
     right: 20px;

     top: 23px;
}

/* Meat House */
#meatWrapper {
     padding-top: 8px;
}

/* The meat */
.insideHamburger {
     width: 40px;
     height: 8px;
     background-color: white;
     border-radius: 5px;

     /*Aligning within div*/
     margin: auto;
     margin-top: 5px;
}

/*menu button*/
#menuBtn {
     width: 40px;
     height: 45px;
     background-color: transparent;
     display: inline-block;
     z-index: 100;

     /* Aligns the div to the right */
     position: absolute;
     right: 35px;

     top: 37px;
}

/*Stylizes the tab boxes*/
.tabs {
    height: 95px;
    border-left: 6px solid white;
    display: inline-block;
    position: absolute;
    right: 20px;

    top: 10px;
}

#tabZero {
    width: 65px;
}

#tabOne {
    width: 265px;
}

#tabTwo {
    width: 465px;
}

#tabThree {
    width: 665px;
}
 /* Hamburger Arrow Maker */

/* Forwards Animation */
 @keyframes rotateUp {
      to {transform : rotate(47deg)};
 }

 @keyframes rotateDown {
     to {transform : rotate(-47deg)};
 }

/* Backwards Animation */
@keyframes rotateReverseUp {
     from {transform : rotate(47deg)};
     to {transform : rotate(0deg)};
}

@keyframes rotateReverseDown {
     from {transform : rotate(-47deg)};
     to {transform : rotate(0deg)};
}

/* Classes to rotate the meat */

.rotateUp {
     animation-name: rotateUp;
     animation-duration: 1s;
     animation-fill-mode: forwards;
}

.rotateDown {
     animation-name: rotateDown;
     animation-duration: 1s;
     animation-fill-mode: forwards;
}

.rotateReverseUp {
     animation-name: rotateReverseUp;
     animation-duration: 1s;
     animation-fill-mode: forwards;
}

.rotateReverseDown {
     animation-name: rotateReverseDown;
     animation-duration: 1s;
     animation-fill-mode: forwards;
}

/* Fade meat-imation*/

@keyframes fadeout {
     from { opacity : 1 ; }
     to { opacity : 0 ; }
}

@keyframes fadein {
     from { opacity : 0 };
     to {opacity : 1 };
}

/* Classes to fade the meat */

.fadeout {
     animation: fadeout 0.5s;
     animation-fill-mode: forwards;
}

.fadein {
     animation: fadein 0.7s;
     animation-fill-mode: forwards;
}
